@media (min-width: 700px) {

    .hero img:not(.weather-icon) {
        width: 100%;
        object-fit: cover;
    }

    .overlay {
        text-align: left;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.85) !important;
        border: 1px solid #ccc;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        padding: 1rem;
        width: 280px;
    }

    .hero .overlay:nth-of-type(1) {
        top: 30px; left: 40px;
    }
    
    .hero .overlay:nth-of-type(2) {
        bottom: 30px; right: 30px; top: auto;
    }

    .overlay h2 {
        background-color: var(--primary-color);
        color: white;
        display: block;
        padding: 0.5rem 1rem;
        margin: -1rem -1rem 1rem -2rem; 
        position: relative;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    }

    .hero .overlay:nth-of-type(2) h2::after {
        content: ""; 
        display: inline-block;
        width: 45px; 
        height: 10px;
    }

    .overlay:nth-of-type(2) .weather-icon {
        display: block !important;
        position: absolute;
        top: 23px;
        right: 10px;
        transform: translateY(-50%);
        width: 40px !important;
        height: auto;
        margin: 0;
        z-index: 10;
    }

    .overlay p {
        justify-content: flex-start;
    }

    .overlay p strong {
        min-width: 100px;
        text-align: right;
        margin-right: 10px;
    }
}